#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.body{
  background-color: #f8f9fa;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #fffbfb;
}
.selected_node{
  background-color: #f8f9fa;
  color: black;
  width: 100px;
  height: 100%;
}

.tap{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  background: white;
  border: 1px solid black;
  z-index: 100;
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}